%table.table
  %thead
    %tr
      %th{ colspan: 3 } Hcheck Status Page
  %tbody
    - @status.each do |s|
      %tr
        %td
          #{s[:name]}
        %td
          #{s[:desc]}
        %td
          - case s[:status]
            - when 'ok'
              %span{style: 'color: green'} Ok
            - when 'bad'
              %span{style: 'color: red'} Bad
            - else
              %span{style: 'color: orange'}= s[:status]

:css
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  .table {
    width: 1024px;
    margin: 0 auto;
  }
  .table td, .table th {
    padding: 12px;
    text-transform: capitalize;
    font-weight: 200;
  }
  .table th {
    font-size: 2em;
    padding: 20px;
  }
